<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006735223733-45ne6rc9ufdjfhue4crteprq8bjhlf83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006735223733-45ne6rc9ufdjfhue4crteprq8bjhlf83</string>
	<key>API_KEY</key>
	<string>AIzaSyCo0THRrwQYbsaLX3lckQYbZ1Umd2tspJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1006735223733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siksikLabuyo</string>
	<key>PROJECT_ID</key>
	<string>siksiklabuyo-d9974</string>
	<key>STORAGE_BUCKET</key>
	<string>siksiklabuyo-d9974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006735223733:ios:7e61d055b9a9ee9b85c7fc</string>
</dict>
</plist>